<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="ArtSoftTools" connectionString="Server=AS-CMP-1\SQLEXPRESS;Database=ArtSoftTools;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="EdgeBrwsPath" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe"/>
  </appSettings>
</configuration>